@import "rose-pine-moon.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto Sans Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background: @baseTransparent;
    border: none;
}

#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#custom-power,
#custom-updates,
#custom-keyboard-layout { 
    background: @baseTransparent;
    border-radius: 10px;
    font-weight: bold;
    font-style: normal;
}


#workspaces {
    color: @pine;
}

#workspaces button {
    border-radius: 50%;
    color: @muted;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @pine;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background: @surface;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#custom-power,
#custom-updates,
#custom-keyboard-layout {
    padding: 0 10px;
    margin: 0 3px;
}

#clock { 
    color: @iris;
} 

#battery.charging,
#battery.plugged,
#battery.good {
    color: @pine;
}

#battery.okay:not(.charging),
#battery.warning:not(.charging) {
    color: @gold;
}

@keyframes blink {
    to {
        background: @love;
        color: @baseTransparent;
    }
}

#battery.critical:not(.charging) {
    color: @love;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu,
#memory,
#disk {
    color: @rose;
}

#network,
#bluetooth,
#pulseaudio,
#custom-keyboard-layout {
    color: @gold;
}

#custom-power {
    color: @love;
}

#custom-updates {
    color: @pine;
}

