#zen-browser-background {
  --zen-main-browser-background: {{colors.background.default.hex}} !important;
}

#main-window, zen-workspace {
  --toolbox-textcolor: {{colors.on_background.default.hex}} !important;
}

zen-workspace {
  --tab-selected-bgcolor: {{colors.on_background.default.hex}} !important;
  --tab-selected-textcolor: {{colors.background.default.hex}} !important;
}
